@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-sky-50: #EAF6FB;
  --color-sky-100: #D0EAF7;
  --color-sky-200: #A1D6ED;
  --color-sky-300: #6EC1E4;
  --color-sky-400: #38A1DB;
  --color-sky-500: #0D8CD2;
  --color-sky-600: #0077B6;
  --color-sky-700: #005F8A;
  --color-sky-800: #00476A;
  --color-sky-900: #003554;
  --color-sky-950: #00223A;
}
